-@ import val item: com.marcolotz.contentserver.filesystem.FileSystemItem
p <strong>Directory:</strong>
p name: #{name}
p size: #{humanReadableSize}
p readable: #{isReadable}
<a href="/download/#{item.hashCode.toString}"><input type="button" value="Download directory"/></a>
<a href="/content/directory/#{item.hashCode.toString}"><input type="button" value="Explore directory"/></a>