-@ import val item: com.marcolotz.filesystem.FileSystemItem
p <strong>Media File:</strong>
p name: #{name}
p extension type: <italic>#{extension}</italic>
p size: #{humanReadableSize}
p readable: #{isReadable}
<a href="/download?fileId=#{item.hashCode.toString}"><input type="button" value="Download file"/></a>
<a href="/stream?fileId=#{item.hashCode.toString}"><input type="button" value="Stream file"/></a>
